body {
    font-family: "JetBrains Mono", monospace;
}
.intro-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);

  z-index: 9999;

  animation: fadeIn 0.4s ease;
}

.intro-box {
  position: relative;
  width: 500px;
  max-width: 85%;

  padding: 40px;

  background: rgba(20, 20, 25, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 24px;

  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(25px);

  color: white;

  animation: popup 0.5s ease;
}

.intro-small {
  font-size: 12px;
  letter-spacing: 3px;
  opacity: 0.5;
  margin-bottom: 5px;
}

.intro-box h1 {
  font-size: 48px;
  margin: 0 0 25px;
}

.intro-box h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.intro-box p {
  line-height: 1.6;
  opacity: 0.75;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 18px;

  background: none;
  border: none;

  color: white;
  font-size: 25px;

  opacity: 0.5;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 1;
}

.enter-btn {
  margin-top: 20px;

  padding: 12px 20px;

  border: none;
  border-radius: 12px;

  background: white;
  color: black;

  font-size: 14px;
  cursor: pointer;

  transition: 0.2s ease;
}

.enter-btn:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.92) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}